*{
    margin:0px auto;
    font-family: 'Open Sans', sans-serif;
    color:rgba(255,255,255,0.8);
  }
  /*  Lite style   */
  .header{
    padding-top:2.5vh;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    text-align: center;
  }
  /*  Lite style   */
  .section{
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    border: none;
    height: 51.8vh;
  }
   /*   text till stora bokstäver    */ 
  .headerH{
    text-transform: uppercase;
  }
  /*  La till lite radavstånd  */
  .headerP{
      margin: 0.5vh;
  }

  .nav{
      padding:2vh;
  }

  a{
      text-decoration: none;
      color:rgba(255,255,255,0.4);
      text-transform: uppercase;
      padding: 1vh;
      font-weight: bold;
      letter-spacing: 0.2vh;
  }

  a:hover{
      color:rgba(255,255,255,0.8);
  }

  #active{
    color:rgba(255,255,255,0.8);
  }

  .footer{
    background-color: rgba(0,0,0,0.8);
    padding-top:2vh;
    padding-bottom: 2vh;
    text-align: center;
  }

  .bild{
      height: 325px;
      border-radius: 5%;
  }

  #omega{
      border:1px solid black;
      margin-top:1vh;
  }

  /*    Form     */

  input[type=text], select, textarea{
      min-width: 200px;
      max-width: 15%;
      padding:2vh;
      border:1px solid rgba(255,255,255,0.4);
      border-radius:5%;
      margin-top:1vh;
      margin-bottom:1vh;
      color:rgba(0,0,0,0.9);
      resize: vertical;
      display: flex;
      margin:1vh auto;
  }

  input[type=submit]{
      color:rgba(0,0,0,0.9);
  }

  option{
      color:rgba(0,0,0,0.5);
  }